html {
  font-size: 62.5%;
  font-family: "Satoshi", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

footer {
  width: 100%;
  padding: 1.5rem;
  text-align: center;
}
@media (min-width: 991px) {
  footer {
    display: none;
  }
}
footer nav {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: 1.2rem;
}
@media (min-width: 991px) {
  footer nav {
    gap: 3rem;
    font-size: 1.6rem;
  }
}
footer nav > label {
  cursor: pointer;
}

main {
  width: 100%;
  min-height: 100vh;
}

section {
  width: 100%;
  height: 100%;
}

main input[type=radio] {
  display: none;
}

main section {
  display: none;
  animation: fadeIn 0.5s ease;
}

#tab-1:checked ~ #home,
#tab-2:checked ~ #discover,
#tab-3:checked ~ #search,
#tab-4:checked ~ #library,
#tab-5:checked ~ #profile {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 144rem;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .container {
    margin: 0 auto;
  }
}
#home {
  background-color: #111111;
  padding-bottom: 5rem;
}

.home-nav li:hover {
  color: #000000;
}

.home-nav {
  margin-top: 2.5rem;
  font-weight: 400;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
}
.home-nav div label {
  background: none;
  border: none;
  padding: 0;
  outline: none;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
}
.home-nav div label img {
  position: relative;
  bottom: 0.4rem;
}
.home-nav ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: 1rem;
}
.home-nav ul li:first-child {
  width: 6.3rem;
}
.home-nav ul li {
  background-color: #202020;
  border-radius: 0.8rem;
  height: 3.3rem;
  width: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-nav ul li button {
  background: none;
  border: none;
  padding: 0;
  outline: none;
  color: #E0E0E0;
  font-size: 1.2rem;
}

.recent-played {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  row-gap: 0.8rem;
  column-gap: 0.5rem;
  margin-top: 1rem;
}
.recent-played article {
  width: 15rem;
  height: 3.9rem;
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  background-color: #202020;
  font-weight: 400;
}
.recent-played article h2 {
  font-weight: 300;
  color: #E0E0E0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.recent-played article p {
  color: #898989;
}
.recent-played article .recent-played__info {
  min-width: 0;
}
.recent-played article img {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.4rem;
}
.recent-played article h2 {
  padding-top: 0.5rem;
  padding-left: 0.8rem;
}
.recent-played article p {
  padding-top: 0.1rem;
  padding-left: 0.8rem;
}

.recent-played article:nth-child(3) .recent-played__info, .recent-played article:nth-child(6) .recent-played__info {
  display: flex;
  align-items: center;
}
.recent-played article:nth-child(3) .recent-played__info h2, .recent-played article:nth-child(6) .recent-played__info h2 {
  padding-top: 0%;
}

.icon-toggle__input {
  display: none;
}

.scroll-album-card {
  display: flex;
  column-gap: 1rem;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}
.scroll-album-card::-webkit-scrollbar {
  display: none;
}
.scroll-album-card h3 {
  font-weight: 500;
  color: #E0E0E0;
}
.scroll-album-card p:last-child {
  font-weight: 400;
  color: #898989;
}

.made-for-you {
  display: grid;
  margin-right: 0.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin-top: 2.5rem;
}
.made-for-you .title-row {
  font-weight: 700;
  color: #E0E0E0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  align-items: center;
}
.made-for-you .title-row h2 {
  font-size: clamp(1.6rem, 1.6rem + 0.2 * (100vw - 32rem) / 112, 1.8rem);
}
.made-for-you .title-row img {
  place-self: end;
  margin-right: 1rem;
}
.made-for-you .album-card-subtitle {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding-top: 0.8rem;
}
.made-for-you .scroll-album-card article .album-card-subtitle > p:nth-of-type(1) {
  color: #B3B3B3;
}
.made-for-you .scroll-album-card article:nth-child(1) .album-card-subtitle > p:nth-of-type(1) {
  color: #CE6E9A !important;
}
.made-for-you .scroll-album-card article:nth-child(2) .album-card-subtitle > p:nth-of-type(1) {
  color: #95E6D3 !important;
}
.made-for-you .scroll-album-card article:nth-child(3) .album-card-subtitle > p:nth-of-type(1) {
  color: #F4B8BD !important;
}
.made-for-you .scroll-album-card article:nth-child(4) .album-card-subtitle > p:nth-of-type(1) {
  color: #C3E7B7 !important;
}
.made-for-you .scroll-album-card article:nth-child(5) .album-card-subtitle > p:nth-of-type(1) {
  color: #F37FA6 !important;
}
.made-for-you .scroll-album-card article:nth-child(6) .album-card-subtitle > p:nth-of-type(1) {
  color: #A0BEC8 !important;
}
.made-for-you .scroll-album-card article:nth-child(7) .album-card-subtitle > p:nth-of-type(1) {
  color: #FDD87D !important;
}
.made-for-you .scroll-album-card article:nth-child(8) .album-card-subtitle > p:nth-of-type(1) {
  color: #D4B2A9 !important;
}
.made-for-you .scroll-album-card article:nth-child(9) .album-card-subtitle > p:nth-of-type(1) {
  color: #DEB075 !important;
}
.made-for-you .scroll-album-card article:nth-child(10) .album-card-subtitle > p:nth-of-type(1) {
  color: #8DC3B5 !important;
}
.made-for-you .scroll-album-card article:nth-child(11) .album-card-subtitle > p:nth-of-type(1) {
  color: #A6BAD3 !important;
}
.made-for-you .scroll-album-card article:nth-child(12) .album-card-subtitle > p:nth-of-type(1) {
  color: #CCF665 !important;
}

.your-top-mixes {
  display: grid;
  margin-right: 0.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin-top: 2.5rem;
}
.your-top-mixes .title-row {
  font-weight: 700;
  color: #E0E0E0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  align-items: center;
}
.your-top-mixes .title-row h2 {
  font-size: clamp(1.6rem, 1.6rem + 0.2 * (100vw - 32rem) / 112, 1.8rem);
}
.your-top-mixes .title-row img {
  place-self: end;
  margin-right: 1rem;
}
.your-top-mixes .album-card-subtitle {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding-top: 0.8rem;
}
.your-top-mixes .album-card-subtitle p:nth-of-type(1) {
  color: #B3B3B3 !important;
}

.your-favorite-artists span {
  margin-top: 2.5rem;
}
.your-favorite-artists {
  display: grid;
  margin-right: 0.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin-top: 2.5rem;
}
.your-favorite-artists .title-row {
  font-weight: 700;
  color: #E0E0E0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  align-items: center;
}
.your-favorite-artists .title-row h2 {
  font-size: clamp(1.6rem, 1.6rem + 0.2 * (100vw - 32rem) / 112, 1.8rem);
}
.your-favorite-artists .title-row img {
  place-self: end;
  margin-right: 1rem;
}
.your-favorite-artists img {
  border-radius: 50%;
}
.your-favorite-artists .album-card-subtitle {
  margin-top: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.your-favorite-artists .album-card-subtitle p:nth-of-type(1) {
  color: #B3B3B3 !important;
}

.albums-for-you {
  display: grid;
  margin-right: 0.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin-top: 2.5rem;
}
.albums-for-you .title-row {
  font-weight: 700;
  color: #E0E0E0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  align-items: center;
}
.albums-for-you .title-row h2 {
  font-size: clamp(1.6rem, 1.6rem + 0.2 * (100vw - 32rem) / 112, 1.8rem);
}
.albums-for-you .title-row img {
  place-self: end;
  margin-right: 1rem;
}
.albums-for-you .album-card-subtitle {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding-top: 0.8rem;
}
.albums-for-you .album-card-subtitle p:nth-of-type(1) {
  color: #B3B3B3 !important;
}

.audiobooks-for-you span {
  margin-top: 2rem;
}
.audiobooks-for-you {
  display: grid;
  margin-right: 0.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin-top: 2.5rem;
}
.audiobooks-for-you .title-row {
  font-weight: 700;
  color: #E0E0E0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  align-items: center;
}
.audiobooks-for-you .title-row h2 {
  font-size: clamp(1.6rem, 1.6rem + 0.2 * (100vw - 32rem) / 112, 1.8rem);
}
.audiobooks-for-you .title-row img {
  place-self: end;
  margin-right: 1rem;
}
.audiobooks-for-you .album-card-subtitle {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}

.podcasts-for-you, .episodes-for-you {
  display: grid;
  margin-right: 0.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin-top: 2.5rem;
}
.podcasts-for-you .title-row, .episodes-for-you .title-row {
  font-weight: 700;
  color: #E0E0E0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  align-items: center;
}
.podcasts-for-you .title-row h2, .episodes-for-you .title-row h2 {
  font-size: clamp(1.6rem, 1.6rem + 0.2 * (100vw - 32rem) / 112, 1.8rem);
}
.podcasts-for-you .title-row img, .episodes-for-you .title-row img {
  place-self: end;
  margin-right: 1rem;
}
.podcasts-for-you span, .episodes-for-you span {
  margin-top: 2rem;
}
.podcasts-for-you, .episodes-for-you {
  display: grid;
  margin-right: 0.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin-top: 2.5rem;
}
.podcasts-for-you .title-row, .episodes-for-you .title-row {
  font-weight: 700;
  color: #E0E0E0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  align-items: center;
}
.podcasts-for-you .title-row h2, .episodes-for-you .title-row h2 {
  font-size: clamp(1.6rem, 1.6rem + 0.2 * (100vw - 32rem) / 112, 1.8rem);
}
.podcasts-for-you .title-row img, .episodes-for-you .title-row img {
  place-self: end;
  margin-right: 1rem;
}
.podcasts-for-you .album-card-subtitle, .episodes-for-you .album-card-subtitle {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}
.episodes-for-you article:first-child .album-card-subtitle h3 {
  display: flex;
  column-gap: 0.8rem;
}

/*# sourceMappingURL=styles.css.map */
