html {
  font-size: 62.5%;
  font-family: "Satoshi", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

footer {
  width: 100%;
  padding: 1.5rem;
  text-align: center;
}
@media (min-width: 991px) {
  footer {
    display: none;
  }
}
footer nav {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: 1.2rem;
}
@media (min-width: 991px) {
  footer nav {
    gap: 3rem;
    font-size: 1.6rem;
  }
}
footer nav > label {
  cursor: pointer;
}

.html {
  scroll-behavior: smooth;
}

main {
  width: 100%;
  min-height: 100vh;
}

section {
  width: 100%;
  height: 100%;
}

main input[type=radio] {
  display: none;
}

main section {
  animation: fadeIn 0.5s ease;
  scroll-behavior: smooth;
}

#tab-1:checked ~ #home,
#tab-2:checked ~ #discover,
#tab-3:checked ~ #search,
#tab-4:checked ~ #library,
#tab-5:checked ~ #profile {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 144rem;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .container {
    margin: 0 auto;
  }
}
.icon-toggle__input {
  display: none;
}

.icon-toggle__input:checked ~ .customize-feed {
  transform: translateY(0);
}

.customize-feed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75vh;
  z-index: 5;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
  transform: translateY(100%);
  overflow-y: auto;
  display: flex;
  justify-content: center;
  background: linear-gradient(150deg, rgba(73, 73, 73, 0.92) 0%, rgba(15, 15, 15, 0.98) 100%);
}
.customize-feed .customize-feed__list {
  display: grid;
  grid-template-columns: repeat(1, auto);
}
.customize-feed .customize-feed__list .customize-feed__actions {
  display: flex;
  column-gap: 1rem;
  padding-right: 0.5rem;
}
.customize-feed .customize-feed__list li {
  background: transparent;
  width: clamp(30rem, 80vw, 60rem);
  height: clamp(5rem, 10vh, 8rem);
  display: grid;
  background: transparent;
  justify-content: space-between;
  grid-template-columns: repeat(2, auto);
  background-color: 0%;
}
.customize-feed .customize-feed__list li:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(30rem, 80vw, 60rem);
  height: clamp(5rem, 10vh, 8rem);
}
.customize-feed .customize-feed__list li:first-child h2 {
  color: #e0e0e0;
  text-align: center;
}
.customize-feed .feed-option {
  display: flex;
  padding-left: 0.5rem;
}
.customize-feed .feed-option figcaption {
  font-size: clamp(1.6rem, 1.6rem + 0.2 * (100vw - 32rem) / 112, 1.8rem);
  color: #e0e0e0;
  padding-left: 2rem;
}

.made-for-you .scroll-album-card article:nth-child(1) .album-card-subtitle > p:nth-of-type(1) {
  color: #CE6E9A;
}
.made-for-you .scroll-album-card article:nth-child(2) .album-card-subtitle > p:nth-of-type(1) {
  color: #95E6D3;
}
.made-for-you .scroll-album-card article:nth-child(3) .album-card-subtitle > p:nth-of-type(1) {
  color: #F4B8BD;
}
.made-for-you .scroll-album-card article:nth-child(4) .album-card-subtitle > p:nth-of-type(1) {
  color: #C3E7B7;
}
.made-for-you .scroll-album-card article:nth-child(5) .album-card-subtitle > p:nth-of-type(1) {
  color: #F37FA6;
}
.made-for-you .scroll-album-card article:nth-child(6) .album-card-subtitle > p:nth-of-type(1) {
  color: #A0BEC8;
}
.made-for-you .scroll-album-card article:nth-child(7) .album-card-subtitle > p:nth-of-type(1) {
  color: #FDD87D;
}
.made-for-you .scroll-album-card article:nth-child(8) .album-card-subtitle > p:nth-of-type(1) {
  color: #D4B2A9;
}
.made-for-you .scroll-album-card article:nth-child(9) .album-card-subtitle > p:nth-of-type(1) {
  color: #DEB075;
}
.made-for-you .scroll-album-card article:nth-child(10) .album-card-subtitle > p:nth-of-type(1) {
  color: #8DC3B5;
}
.made-for-you .scroll-album-card article:nth-child(11) .album-card-subtitle > p:nth-of-type(1) {
  color: #A6BAD3;
}
.made-for-you .scroll-album-card article:nth-child(12) .album-card-subtitle > p:nth-of-type(1) {
  color: #CCF665;
}
.made-for-you .scroll-album-card:nth-child(1) .album_cover_wrapper div:nth-child(1) {
  background-color: #CE6E9A;
  opacity: 0.15;
}
.made-for-you .scroll-album-card:nth-child(1) .album_cover_wrapper div:nth-child(2) {
  background-color: #CE6E9A;
  opacity: 0.3;
}
.made-for-you .scroll-album-card:nth-child(2) .album_cover_wrapper div:nth-child(1) {
  background-color: #95E6D3;
  opacity: 0.15;
}
.made-for-you .scroll-album-card:nth-child(2) .album_cover_wrapper div:nth-child(2) {
  background-color: #95E6D3;
  opacity: 0.3;
}
.made-for-you .scroll-album-card:nth-child(3) .album_cover_wrapper div:nth-child(1) {
  background-color: #F4B8BD;
  opacity: 0.15;
}
.made-for-you .scroll-album-card:nth-child(3) .album_cover_wrapper div:nth-child(2) {
  background-color: #F4B8BD;
  opacity: 0.3;
}
.made-for-you .scroll-album-card:nth-child(4) .album_cover_wrapper div:nth-child(1) {
  background-color: #C3E7B7;
  opacity: 0.15;
}
.made-for-you .scroll-album-card:nth-child(4) .album_cover_wrapper div:nth-child(2) {
  background-color: #C3E7B7;
  opacity: 0.3;
}
.made-for-you .scroll-album-card:nth-child(5) .album_cover_wrapper div:nth-child(1) {
  background-color: #F37FA6;
  opacity: 0.15;
}
.made-for-you .scroll-album-card:nth-child(5) .album_cover_wrapper div:nth-child(2) {
  background-color: #F37FA6;
  opacity: 0.3;
}
.made-for-you .scroll-album-card:nth-child(6) .album_cover_wrapper div:nth-child(1) {
  background-color: #A0BEC8;
  opacity: 0.15;
}
.made-for-you .scroll-album-card:nth-child(6) .album_cover_wrapper div:nth-child(2) {
  background-color: #A0BEC8;
  opacity: 0.3;
}
.made-for-you .scroll-album-card:nth-child(7) .album_cover_wrapper div:nth-child(1) {
  background-color: #FDD87D;
  opacity: 0.15;
}
.made-for-you .scroll-album-card:nth-child(7) .album_cover_wrapper div:nth-child(2) {
  background-color: #FDD87D;
  opacity: 0.3;
}
.made-for-you .scroll-album-card:nth-child(8) .album_cover_wrapper div:nth-child(1) {
  background-color: #D4B2A9;
  opacity: 0.15;
}
.made-for-you .scroll-album-card:nth-child(8) .album_cover_wrapper div:nth-child(2) {
  background-color: #D4B2A9;
  opacity: 0.3;
}
.made-for-you .scroll-album-card:nth-child(9) .album_cover_wrapper div:nth-child(1) {
  background-color: #DEB075;
  opacity: 0.15;
}
.made-for-you .scroll-album-card:nth-child(9) .album_cover_wrapper div:nth-child(2) {
  background-color: #DEB075;
  opacity: 0.3;
}
.made-for-you .scroll-album-card:nth-child(10) .album_cover_wrapper div:nth-child(1) {
  background-color: #8DC3B5;
  opacity: 0.15;
}
.made-for-you .scroll-album-card:nth-child(10) .album_cover_wrapper div:nth-child(2) {
  background-color: #8DC3B5;
  opacity: 0.3;
}
.made-for-you .scroll-album-card:nth-child(11) .album_cover_wrapper div:nth-child(1) {
  background-color: #A6BAD3;
  opacity: 0.15;
}
.made-for-you .scroll-album-card:nth-child(11) .album_cover_wrapper div:nth-child(2) {
  background-color: #A6BAD3;
  opacity: 0.3;
}
.made-for-you .scroll-album-card:nth-child(12) .album_cover_wrapper div:nth-child(1) {
  background-color: #CCF665;
  opacity: 0.15;
}
.made-for-you .scroll-album-card:nth-child(12) .album_cover_wrapper div:nth-child(2) {
  background-color: #CCF665;
  opacity: 0.3;
}
.made-for-you .scroll-album-card:nth-child(13) .album_cover_wrapper div:nth-child(1) {
  background-color: #F9E72C;
  opacity: 0.15;
}
.made-for-you .scroll-album-card:nth-child(13) .album_cover_wrapper div:nth-child(2) {
  background-color: #F9E72C;
  opacity: 0.3;
}
.made-for-you .scroll-album-card:nth-child(14) .album_cover_wrapper div:nth-child(1) {
  background-color: #9BF0E2;
  opacity: 0.15;
}
.made-for-you .scroll-album-card:nth-child(14) .album_cover_wrapper div:nth-child(2) {
  background-color: #9BF0E2;
  opacity: 0.3;
}
.made-for-you .scroll-album-card:nth-child(15) .album_cover_wrapper div:nth-child(1) {
  background-color: #6F86FF;
  opacity: 0.15;
}
.made-for-you .scroll-album-card:nth-child(15) .album_cover_wrapper div:nth-child(2) {
  background-color: #6F86FF;
  opacity: 0.3;
}
.made-for-you .scroll-album-card:nth-child(16) .album_cover_wrapper div:nth-child(1) {
  background-color: #27856B;
  opacity: 0.15;
}
.made-for-you .scroll-album-card:nth-child(16) .album_cover_wrapper div:nth-child(2) {
  background-color: #27856B;
  opacity: 0.3;
}
.made-for-you .scroll-album-card:nth-child(17) .album_cover_wrapper div:nth-child(1) {
  background-color: #DD138B;
  opacity: 0.15;
}
.made-for-you .scroll-album-card:nth-child(17) .album_cover_wrapper div:nth-child(2) {
  background-color: #DD138B;
  opacity: 0.3;
}
.made-for-you .scroll-album-card:nth-child(18) .album_cover_wrapper div:nth-child(1) {
  background-color: #B3B3B3;
  opacity: 0.15;
}
.made-for-you .scroll-album-card:nth-child(18) .album_cover_wrapper div:nth-child(2) {
  background-color: #B3B3B3;
  opacity: 0.3;
}

.home {
  background-color: #111111;
  padding-bottom: 5rem;
  text-decoration: none;
}

.home-nav li:hover {
  background-color: #1ed760;
}
.home-nav li:hover a {
  color: #111111;
}

.home-nav {
  margin-top: 2.5rem;
  font-weight: 400;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
}
.home-nav .icon-toggle {
  justify-self: end;
}
.home-nav .icon-toggle label {
  background: none;
  border: none;
  padding: 0;
  outline: none;
  text-decoration: none;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
}
.home-nav .icon-toggle label img {
  position: relative;
  bottom: 0.4rem;
}
.home-nav ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: 1rem;
}
.home-nav ul li:first-child {
  width: 6.3rem;
}
.home-nav ul li {
  background-color: #202020;
  border-radius: 0.8rem;
  height: 3.3rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-nav ul li a {
  background: none;
  border: none;
  padding: 0;
  outline: none;
  text-decoration: none;
  color: #E0E0E0;
  font-size: 1.2rem;
  transition: color 0.1s ease-out;
}

.recent-played {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  row-gap: 0.8rem;
  column-gap: 0.5rem;
  margin-top: 1rem;
}
.recent-played article {
  width: clamp(15rem, 15rem + 10 * (100vw - 32rem) / 38, 25rem);
  height: clamp(3.9rem, 3.9rem + 2.6 * (100vw - 32rem) / 38, 6.5rem);
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  background-color: #202020;
  font-weight: 400;
}
.recent-played article h2 {
  font-weight: 300;
  color: #E0E0E0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.recent-played article p {
  color: #898989;
}
.recent-played article .recent-played__info {
  min-width: 0;
}
.recent-played article img {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.4rem;
}
.recent-played article h2 {
  font-size: clamp(1.6rem, 1.6rem + 0.2 * (100vw - 32rem) / 112, 1.8rem);
  padding-top: 0.5rem;
  padding-left: 0.8rem;
}
.recent-played article p {
  font-size: clamp(1.4rem, 1.4rem + 0.2 * (100vw - 32rem) / 112, 1.6rem);
  padding-top: 0.1rem;
  padding-left: 0.8rem;
}

.recent-played article:nth-child(3) .recent-played__info, .recent-played article:nth-child(6) .recent-played__info {
  display: flex;
  align-items: center;
}
.recent-played article:nth-child(3) .recent-played__info h2, .recent-played article:nth-child(6) .recent-played__info h2 {
  padding-top: 0%;
}

.scroll-album-card {
  display: flex;
  column-gap: 1rem;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}
.scroll-album-card::-webkit-scrollbar {
  display: none;
}
.scroll-album-card h3 {
  font-weight: 500;
  color: #e0e0e0;
  font-size: clamp(1.4rem, 1.4rem + 0.2 * (100vw - 32rem) / 112, 1.6rem);
}
.scroll-album-card p:last-child {
  font-weight: 400;
  color: #898989;
  font-size: clamp(1.2rem, 1.2rem + 0.2 * (100vw - 32rem) / 112, 1.4rem);
}

.made-for-you {
  display: grid;
  margin-right: 0.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin-top: 2.5rem;
}
.made-for-you .title-row {
  font-weight: 700;
  color: #E0E0E0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  align-items: center;
  margin-bottom: 1rem;
}
.made-for-you .title-row h2 {
  font-size: clamp(1.6rem, 1.6rem + 0.2 * (100vw - 32rem) / 112, 1.8rem);
}
.made-for-you .title-row img {
  place-self: end;
  margin-right: 1rem;
}
.made-for-you .album-card-subtitle {
  width: 16.8rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding-top: 0.8rem;
}
.made-for-you .album-card-subtitle h3 {
  margin-bottom: 0.8rem;
}
.made-for-you .scroll-album-card .album_cover_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.made-for-you .scroll-album-card .album_cover_wrapper img {
  border-radius: 0.725rem;
  z-index: 2;
}
.made-for-you .scroll-album-card .album_cover_wrapper div:first-child {
  top: 1rem;
  border-bottom: solid 0.1rem #111111;
  width: 15rem;
  height: 0.6rem;
  z-index: 1;
  border-radius: 0.725rem 0.725rem 0rem 0rem;
  position: relative;
}
.made-for-you .scroll-album-card .album_cover_wrapper div:nth-child(2) {
  top: 1rem;
  position: relative;
  width: 16rem;
  height: 1.5rem;
  border-radius: 0.725rem;
  z-index: 1;
}
.made-for-you .scroll-album-card article .album-card-subtitle > p:nth-of-type(1) {
  color: #B3B3B3;
}

.album-card-subtitle p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.your-top-mixes .scroll-album-card .album_cover_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.your-top-mixes .scroll-album-card .album_cover_wrapper img {
  border-radius: 0.725rem;
  z-index: 2;
}
.your-top-mixes .scroll-album-card .album_cover_wrapper div:first-child {
  top: 1rem;
  border-bottom: solid 0.1rem #111111;
  width: 15rem;
  height: 0.6rem;
  z-index: 1;
  border-radius: 0.725rem 0.725rem 0rem 0rem;
  position: relative;
}
.your-top-mixes .scroll-album-card .album_cover_wrapper div:nth-child(2) {
  top: 1rem;
  position: relative;
  width: 16rem;
  height: 1.5rem;
  border-radius: 0.725rem;
  z-index: 1;
}
.your-top-mixes .scroll-album-card article:nth-child(1) .album_cover_wrapper div:nth-child(1) {
  background-color: #C3E7B7;
  opacity: 0.15;
}
.your-top-mixes .scroll-album-card article:nth-child(1) .album_cover_wrapper div:nth-child(2) {
  background-color: #C3E7B7;
  opacity: 0.3;
}
.your-top-mixes .scroll-album-card article:nth-child(2) .album_cover_wrapper div:nth-child(1) {
  background-color: #D4B2A9;
  opacity: 0.15;
}
.your-top-mixes .scroll-album-card article:nth-child(2) .album_cover_wrapper div:nth-child(2) {
  background-color: #D4B2A9;
  opacity: 0.3;
}
.your-top-mixes .scroll-album-card article:nth-child(3) .album_cover_wrapper div:nth-child(1) {
  background-color: #F4B8BD;
  opacity: 0.15;
}
.your-top-mixes .scroll-album-card article:nth-child(3) .album_cover_wrapper div:nth-child(2) {
  background-color: #F4B8BD;
  opacity: 0.3;
}
.your-top-mixes .scroll-album-card article:nth-child(4) .album_cover_wrapper div:nth-child(1) {
  background-color: #DEB075;
  opacity: 0.15;
}
.your-top-mixes .scroll-album-card article:nth-child(4) .album_cover_wrapper div:nth-child(2) {
  background-color: #DEB075;
  opacity: 0.3;
}
.your-top-mixes .scroll-album-card article:nth-child(5) .album_cover_wrapper div:nth-child(1) {
  background-color: #B3B3B3;
  opacity: 0.15;
}
.your-top-mixes .scroll-album-card article:nth-child(5) .album_cover_wrapper div:nth-child(2) {
  background-color: #B3B3B3;
  opacity: 0.3;
}
.your-top-mixes .scroll-album-card article:nth-child(6) .album_cover_wrapper div:nth-child(1) {
  background-color: #FDD87D;
  opacity: 0.15;
}
.your-top-mixes .scroll-album-card article:nth-child(6) .album_cover_wrapper div:nth-child(2) {
  background-color: #FDD87D;
  opacity: 0.3;
}
.your-top-mixes .scroll-album-card article:nth-child(7) .album_cover_wrapper div:nth-child(1) {
  background-color: #95E6D3;
  opacity: 0.15;
}
.your-top-mixes .scroll-album-card article:nth-child(7) .album_cover_wrapper div:nth-child(2) {
  background-color: #95E6D3;
  opacity: 0.3;
}
.your-top-mixes .scroll-album-card article:nth-child(8) .album_cover_wrapper div:nth-child(1) {
  background-color: #CE6E9A;
  opacity: 0.15;
}
.your-top-mixes .scroll-album-card article:nth-child(8) .album_cover_wrapper div:nth-child(2) {
  background-color: #CE6E9A;
  opacity: 0.3;
}

.your-top-mixes .album-card-subtitle {
  width: 16.8rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding-top: 0.8rem;
}
.your-top-mixes .album-card-subtitle h3 {
  margin-bottom: 0.8rem;
}
.your-top-mixes {
  display: grid;
  margin-right: 0.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin-top: 2.5rem;
}
.your-top-mixes .title-row {
  font-weight: 700;
  color: #E0E0E0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  align-items: center;
  margin-bottom: 1rem;
}
.your-top-mixes .title-row h2 {
  font-size: clamp(1.6rem, 1.6rem + 0.2 * (100vw - 32rem) / 112, 1.8rem);
}
.your-top-mixes .title-row img {
  place-self: end;
  margin-right: 1rem;
}
.your-top-mixes .scroll-album-card > article .album-card-subtitle p:nth-of-type(1) {
  color: #B3B3B3 !important;
}
.your-top-mixes .scroll-album-card > article .album-card-subtitle p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.your-top-mixes .scroll-album-card > article:nth-child(1) .album-card-subtitle p:nth-of-type(1) {
  color: #CCF665 !important;
}
.your-top-mixes .scroll-album-card > article:nth-child(2) .album-card-subtitle p:nth-of-type(1) {
  color: #F9E72C !important;
}
.your-top-mixes .scroll-album-card > article:nth-child(3) .album-card-subtitle p:nth-of-type(1) {
  color: #9BF0E2 !important;
}
.your-top-mixes .scroll-album-card > article:nth-child(4) .album-card-subtitle p:nth-of-type(1) {
  color: #6F86FF !important;
}
.your-top-mixes .scroll-album-card > article:nth-child(5) .album-card-subtitle p:nth-of-type(1) {
  color: #F4B8BD !important;
}
.your-top-mixes .scroll-album-card > article:nth-child(6) .album-card-subtitle p:nth-of-type(1) {
  color: #FDD87D !important;
}
.your-top-mixes .scroll-album-card > article:nth-child(7) .album-card-subtitle p:nth-of-type(1) {
  color: #DD138B !important;
}

.your-favorite-artists span {
  margin-top: 2.5rem;
}
.your-favorite-artists {
  display: grid;
  margin-right: 0.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin-top: 2.5rem;
}
.your-favorite-artists .title-row {
  font-weight: 700;
  color: #E0E0E0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  align-items: center;
  margin-bottom: 1rem;
}
.your-favorite-artists .title-row h2 {
  font-size: clamp(1.6rem, 1.6rem + 0.2 * (100vw - 32rem) / 112, 1.8rem);
}
.your-favorite-artists .title-row img {
  place-self: end;
  margin-right: 1rem;
}
.your-favorite-artists img {
  border-radius: 50%;
}
.your-favorite-artists .album-card-subtitle {
  margin-top: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.your-favorite-artists .album-card-subtitle p:nth-of-type(1) {
  color: #B3B3B3 !important;
}

.albums-for-you {
  display: grid;
  margin-right: 0.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin-top: 2.5rem;
}
.albums-for-you .title-row {
  font-weight: 700;
  color: #E0E0E0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  align-items: center;
  margin-bottom: 1rem;
}
.albums-for-you .title-row h2 {
  font-size: clamp(1.6rem, 1.6rem + 0.2 * (100vw - 32rem) / 112, 1.8rem);
}
.albums-for-you .title-row img {
  place-self: end;
  margin-right: 1rem;
}

.album-card-subtitle {
  display: grid;
}
.album-card-subtitle h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: clamp(1.4rem, 1.4rem + 0.2 * (100vw - 32rem) / 112, 1.6rem);
}
.album-card-subtitle span {
  color: #898989;
  font-size: clamp(1.2rem, 1.2rem + 0.2 * (100vw - 32rem) / 112, 1.4rem);
}

img {
  z-index: 1;
}

.albums-for-you article .album-card-subtitle span:first-of-type {
  justify-self: end;
}

.audiobooks-for-you span {
  margin-top: 2rem;
}
.audiobooks-for-you {
  display: grid;
  margin-right: 0.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin-top: 2.5rem;
}
.audiobooks-for-you .title-row {
  font-weight: 700;
  color: #E0E0E0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  align-items: center;
  margin-bottom: 1rem;
}
.audiobooks-for-you .title-row h2 {
  font-size: clamp(1.6rem, 1.6rem + 0.2 * (100vw - 32rem) / 112, 1.8rem);
}
.audiobooks-for-you .title-row img {
  place-self: end;
  margin-right: 1rem;
}
.audiobooks-for-you .album-card-subtitle {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}
.audiobooks-for-you .album-card-subtitle h3 {
  margin-top: 0.8rem;
  width: 17rem;
}
.audiobooks-for-you .album-card-subtitle p {
  width: 17rem;
}
.audiobooks-for-you .scroll-album-card article img {
  object-fit: cover;
  width: 17rem;
  height: 21rem;
  border-radius: 0.725rem;
}

.podcasts-for-you, .episodes-for-you {
  display: grid;
  margin-right: 0.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin-top: 2.5rem;
}
.podcasts-for-you .title-row, .episodes-for-you .title-row {
  font-weight: 700;
  color: #E0E0E0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  align-items: center;
  margin-bottom: 1rem;
}
.podcasts-for-you .title-row h2, .episodes-for-you .title-row h2 {
  font-size: clamp(1.6rem, 1.6rem + 0.2 * (100vw - 32rem) / 112, 1.8rem);
}
.podcasts-for-you .title-row img, .episodes-for-you .title-row img {
  place-self: end;
  margin-right: 1rem;
}
.podcasts-for-you span, .episodes-for-you span {
  margin-top: 2rem;
}
.podcasts-for-you, .episodes-for-you {
  display: grid;
  margin-right: 0.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin-top: 2.5rem;
}
.podcasts-for-you .title-row, .episodes-for-you .title-row {
  font-weight: 700;
  color: #E0E0E0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  align-items: center;
  margin-bottom: 1rem;
}
.podcasts-for-you .title-row h2, .episodes-for-you .title-row h2 {
  font-size: clamp(1.6rem, 1.6rem + 0.2 * (100vw - 32rem) / 112, 1.8rem);
}
.podcasts-for-you .title-row img, .episodes-for-you .title-row img {
  place-self: end;
  margin-right: 1rem;
}
.podcasts-for-you .album-card-subtitle, .episodes-for-you .album-card-subtitle {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}
.podcasts-for-you img, .episodes-for-you img {
  margin-bottom: 0.5rem;
  border-radius: 0.725rem;
  z-index: 3;
}
.podcasts-for-you .album-card-subtitle, .episodes-for-you .album-card-subtitle {
  background-color: rgba(34, 116, 34, 0.08);
  height: 6rem;
  border-radius: 0.725rem;
}
.podcasts-for-you .album-card-subtitle h3, .episodes-for-you .album-card-subtitle h3 {
  padding-top: 1rem;
  padding-left: 1.2rem;
}
.podcasts-for-you .album-card-subtitle p, .episodes-for-you .album-card-subtitle p {
  padding-left: 1.2rem;
}
.podcasts-for-you .scroll-album-card article:last-child .album-card-subtitle, .episodes-for-you .scroll-album-card article:last-child .album-card-subtitle {
  background-color: rgba(247, 84, 20, 0.06);
}
.podcasts-for-you .border-left article:first-child div, .episodes-for-you .border-left article:first-child div {
  border-left: 0.5rem solid rgba(133, 197, 133, 0.6);
}
.podcasts-for-you .border-left article:last-child div, .episodes-for-you .border-left article:last-child div {
  border-left: 0.5rem solid rgba(246, 125, 77, 0.6);
}
.podcasts-for-you .border-left article:nth-child(2) div, .episodes-for-you .border-left article:nth-child(2) div {
  border-left: 0.5rem solid rgba(241, 206, 188, 0.6);
}
.podcasts-for-you .first-card img:last-child, .episodes-for-you .first-card img:last-child {
  border-radius: 0%;
  margin-bottom: 0%;
  padding-right: 1rem;
}

.arrow-scroll {
  display: none;
}

@media (min-width: 991px) {
  .recent-played {
    display: none;
  }
  .title-row > img:last-child {
    display: none;
  }
  .arrow-scroll {
    display: flex;
    column-gap: 1.1rem;
    justify-self: end;
  }
  .arrow-scroll button {
    background: none;
    border: none;
    padding: 0;
    outline: none;
    text-decoration: none;
    cursor: pointer;
  }
}

/*# sourceMappingURL=styles.css.map */
