@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "sass:map";
@use "_customize-feed.scss";
.home{
    
    background-color:v.$bg-primary;
    padding-bottom: 5rem;
    text-decoration: none;
}
.home-nav  li:hover{
        background-color: v.$secondary;
        a{
             color:v.$bg-primary;
    }
}
.home-nav{
    margin-top: 2.5rem;
    font-weight: 400;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(1,auto);
    .icon-toggle{
        justify-self: end;
        label{
            @include m.btn-reset;
            position: relative;
            padding-left: 2rem;
            cursor: pointer;
            img{
                position: relative;
                bottom: 0.4rem;
            }
            
        }
    }
    ul{
        display: flex;
        flex-direction: row;
        gap: 1rem;
         margin-left: 1rem;
         li:first-child{
             width: 6.3rem;
        }
         li{
             background-color: #202020;
             border-radius: 0.8rem;
             height:  3.3rem;
             width: 8rem;
             @include m.flex-center ($justify: center, $align: center);
            a{
                  @include m.btn-reset;
                  color:#E0E0E0;
                  font-size: 1.2rem;
                   transition: color 0.1s ease-out ;
             }
            
         }
    }
}
.recent-played{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(3,auto);
    justify-content: center;
    row-gap: 0.8rem;
    column-gap: 0.5rem;
     margin-top: 1rem;
    article{
         width: map.get(v.$card-dimensions, "recent-width");
         height: map.get(v.$card-dimensions, "recent-height");
        @include m.recent-played;
        img{
            padding-left: 0.5rem;
            padding-top:0.5rem ;
            padding-bottom: 0.4rem;
        }
        h2{
            font-size: map.get(v.$font-sizes, "heading");
             padding-top:0.5rem ;
             padding-left: 0.8rem;
        }
        p{
            font-size: map.get(v.$font-sizes, "body");
             padding-top:0.1rem ;
             padding-left: 0.8rem;
        }
        
    } 
}
.recent-played article
{
    &:nth-child(3),&:nth-child(6){
         .recent-played__info{
              display: flex;
               align-items: center;
                    h2{
                    padding-top: 0%;
                    }
           }
    }
 }
 .scroll-album-card{
         display: flex;
         column-gap: 1rem;
         @include m.horizontal-scroll;
                h3{
                    font-weight:500 ;
                    color:v.$primary;
                    font-size: map.get(v.$font-sizes, "body");
                }           
                p:last-child {
                    font-weight:400;
                     color:v.$second-primary;
                     font-size: map.get(v.$font-sizes, "body-sm");
                }
              }
.made-for-you{
        @include m.album-cards;  
        @include m.grid-subtitle;
    
        .scroll-album-card {    
    article {
       .album-card-subtitle > p:nth-of-type(1) {
        color: v.$active-p-color; 
      }
      $album-p-colors: v.$p-purple, v.$p-mint, v.$p-soft-pink, v.$p-pale-green, 
                   v.$p-pink, v.$p-lightblue, v.$p-yellow-gold, v.$p-dusty-rose, 
                   v.$p-bronze, v.$p-teal, v.$p-sky-grey, v.$p-lightyellow;
       @for $i from 1 through length($album-p-colors) {
       $current-color: nth($album-p-colors, $i);
       &:nth-child(#{$i}) .album-card-subtitle > p:nth-of-type(1) {
       color: $current-color;}}
    //   &:nth-child(1)  .album-card-subtitle > p:nth-of-type(1) { color: v.$p-purple ; }
    //   &:nth-child(2)  .album-card-subtitle > p:nth-of-type(1) { color: v.$p-mint ; }
    //   &:nth-child(3)  .album-card-subtitle > p:nth-of-type(1) { color: v.$p-soft-pink; }
    //   &:nth-child(4)  .album-card-subtitle > p:nth-of-type(1) { color: v.$p-pale-green ; }
    //   &:nth-child(5)  .album-card-subtitle > p:nth-of-type(1) { color: v.$p-pink ; }
    //   &:nth-child(6)  .album-card-subtitle > p:nth-of-type(1) { color: v.$p-lightblue; }
    //   &:nth-child(7)  .album-card-subtitle > p:nth-of-type(1) { color: v.$p-yellow-gold; }
    //   &:nth-child(8)  .album-card-subtitle > p:nth-of-type(1) { color: v.$p-dusty-rose; }
    //   &:nth-child(9)  .album-card-subtitle > p:nth-of-type(1) { color: v.$p-bronze ; }
    //   &:nth-child(10) .album-card-subtitle > p:nth-of-type(1) { color: v.$p-teal ; }
    //   &:nth-child(11) .album-card-subtitle > p:nth-of-type(1) { color: v.$p-sky-grey ; }
    //   &:nth-child(12) .album-card-subtitle > p:nth-of-type(1) { color: v.$p-lightyellow ; }
}
}}
.made-for-you {
 
  .scroll-album-card {
       .album_cover_wrapper{
       @include m.cover_wrapper;
        }
    article {
      &:nth-child(1) .album_cover_wrapper {
        div:nth-child(1) { background-color: #CE6E9A; opacity: 0.15;} 
        div:nth-child(2) { background-color: #CE6E9A;opacity: 0.3; } 
      }

      &:nth-child(2) .album_cover_wrapper {
        div:nth-child(1) { background-color: #95E6D3; opacity: 0.15;}
        div:nth-child(2) { background-color: #95E6D3; opacity: 0.3;}
      }
        &:nth-child(3) .album_cover_wrapper {
        div:nth-child(1) { background-color: #F4B8BD; opacity:0.15;}
        div:nth-child(2) { background-color: #F4B8BD; opacity: 0.3;}
      }
      &:nth-child(4) .album_cover_wrapper {
        div:nth-child(1) { background-color: #C3E7B7; opacity: 0.15;}
        div:nth-child(2) { background-color: #C3E7B7; opacity: 0.3;}
      }
        &:nth-child(5) .album_cover_wrapper {
        div:nth-child(1) { background-color: #F37FA6; opacity:0.15; }
        div:nth-child(2) { background-color: #F37FA6; opacity: 0.3;}
      }
       &:nth-child(6) .album_cover_wrapper {
        div:nth-child(1) { background-color: #FDD87D; opacity: 0.15;}
        div:nth-child(2) { background-color: #FDD87D; opacity: 0.3;}
      }
       &:nth-child(7) .album_cover_wrapper {
        div:nth-child(1) { background-color: #D4B2A9; opacity: 0.15;}
        div:nth-child(2) { background-color: #D4B2A9; opacity: 0.3;}
      }
       &:nth-child(8) .album_cover_wrapper {
        div:nth-child(1) { background-color: #DEB075; opacity: 0.15;}
        div:nth-child(2) { background-color: #DEB075; opacity: 0.3;}
      }
       &:nth-child(9) .album_cover_wrapper {
        div:nth-child(1) { background-color: #8DC3B5; opacity: 0.15;}
        div:nth-child(2) { background-color: #8DC3B5; opacity: 0.3;}
      }
       &:nth-child(10) .album_cover_wrapper {
        div:nth-child(1) { background-color: #A6BAD3; opacity: 0.15;}
        div:nth-child(2) { background-color: #A6BAD3; opacity: 0.3;}
      }
       &:nth-child(11) .album_cover_wrapper {
        div:nth-child(1) { background-color: #C3E7B7; opacity: 0.15;}
        div:nth-child(2) { background-color: #C3E7B7; opacity: 0.3;}
      }
       &:nth-child(12) .album_cover_wrapper {
        div:nth-child(1) { background-color: #D4B2A9; opacity: 0.15;}
        div:nth-child(2) { background-color: #D4B2A9; opacity: 0.3;}
      }
    }
  }
}
.your-top-mixes{
 
}

.album-card-subtitle{
    p{
        @include m.text-wrap;
    }
}
.your-top-mixes{
    .scroll-album-card {
           .album_cover_wrapper{
        @include m.cover_wrapper;
    }
    article {
      &:nth-child(1) .album_cover_wrapper {
         div:nth-child(1) { background-color: #C3E7B7; opacity: 0.15;}
        div:nth-child(2) { background-color: #C3E7B7; opacity: 0.3;}
      }

      &:nth-child(2) .album_cover_wrapper {
        div:nth-child(1) { background-color: #D4B2A9; opacity: 0.15;}
        div:nth-child(2) { background-color: #D4B2A9; opacity: 0.3;}
      }
        &:nth-child(3) .album_cover_wrapper {
        div:nth-child(1) { background-color: #F4B8BD; opacity:0.15;}
        div:nth-child(2) { background-color: #F4B8BD; opacity: 0.3;}
      }
      &:nth-child(4) .album_cover_wrapper {
        div:nth-child(1) { background-color: #DEB075; opacity: 0.15;}
        div:nth-child(2) { background-color: #DEB075; opacity: 0.3;}
      
      }
        &:nth-child(5) .album_cover_wrapper {
        div:nth-child(1) { background-color: #666666; opacity:0.15; }
        div:nth-child(2) { background-color: #666666; opacity: 0.3;}
      }
       &:nth-child(6) .album_cover_wrapper {
        div:nth-child(1) { background-color: #FDD87D; opacity: 0.15;}
        div:nth-child(2) { background-color: #FDD87D; opacity: 0.3;}
      }
       &:nth-child(7) .album_cover_wrapper {
         div:nth-child(1) { background-color: #95E6D3; opacity: 0.15;}
        div:nth-child(2) { background-color: #95E6D3; opacity: 0.3;}
       
      }
       &:nth-child(8) .album_cover_wrapper {
         div:nth-child(1) { background-color: #CE6E9A; opacity: 0.15;} 
        div:nth-child(2) { background-color: #CE6E9A;opacity: 0.3; } 
        
      }
    }
  }
}
.your-top-mixes{
      @include m.grid-subtitle;
       @include m.album-cards;
        .scroll-album-card {
        & > article {
            .album-card-subtitle {
                @include m.p-colors; 
            }
            &:nth-child(1) .album-card-subtitle { @include m.p-colors($color: v.$p-lightyellow); } // #CCF665
            &:nth-child(2) .album-card-subtitle { @include m.p-colors($color: v.$p-yellow); }      // #F9E72C
            &:nth-child(3) .album-card-subtitle { @include m.p-colors($color: v.$p-green); }       // #9BF0E2
            &:nth-child(4) .album-card-subtitle { @include m.p-colors($color: v.$p-blue); }        // #6F86FF
            &:nth-child(5) .album-card-subtitle { @include m.p-colors($color: v.$p-soft-pink); }  // #FFCBD4-ის ნაცვლად (რადგან ცვლადებში ეს გაქვს)
            &:nth-child(6) .album-card-subtitle { @include m.p-colors($color: v.$p-yellow-gold); } // #FFC668-ის ნაცვლად
            &:nth-child(7) .album-card-subtitle { @include m.p-colors($color: v.$p-magenta); }     // #DD138B
        }
    }
    .album-card-subtitle{
        p{
            @include m.text-wrap;
        }
    }
    }
.your-favorite-artists{
    span{
          margin-top: 2.5rem;
    }
     @include m.album-cards;
     img{
        border-radius: 50%;
     }
    .album-card-subtitle{
     margin-top: 1.6rem;
     @include m.flex-center ($justify: center, $align: center);
     @include m.p-colors;
    }
}
.albums-for-you{
   
     @include m.album-cards;
}
    .album-card-subtitle {
        display: grid;
        h3{
            @include m.text-wrap;
                font-size: map.get(v.$font-sizes, "body");
        }
        span{
            color:v.$second-primary;
             font-size: map.get(v.$font-sizes, "body-sm");
        }
    }
    img{
         z-index: 1;
 }
 .albums-for-you article .album-card-subtitle {
    span:first-of-type{
          justify-self: end;
    }
   
 }
.audiobooks-for-you{
    span{
      margin-top: 2rem;
    }
     @include m.album-cards;
     .album-card-subtitle{
        display: flex;
        flex-direction: column;
        row-gap: 0.8rem;
        h3{
            margin-top: 0.8rem;
           width: 17rem;
        }
        p{
            width: 17rem;
        }
        
     }
     .scroll-album-card{
        article{
            img{
                object-fit: cover;
                width: 17rem;
                height: 21rem;
                 border-radius: 0.725rem;
            }
           
        }
     }
    }
.podcasts-for-you, .episodes-for-you{
      @include m.album-cards;
      span{
      margin-top: 2rem;
      article{
            
      }
    }
     @include m.album-cards;
     .album-card-subtitle{
        display: flex;
        flex-direction: column;
        row-gap: 0.8rem;
     }
     img{
        margin-bottom: 0.5rem;
        border-radius: 0.725rem;
        z-index: 3;
     }
     .album-card-subtitle{
        background-color: rgba(v.$backgroound-card-subtitle, 0.08);
        height: 6rem;
        border-radius: 0.725rem;
        h3{
             padding-top: 1rem;
             padding-left: 1.2rem;
        }
        p{
            padding-left: 1.2rem;
        }
     }
      .scroll-album-card{
        article:last-child{
            .album-card-subtitle{
               background-color: rgba(v.$backgroound-card-subtitle-laschilde, 0.06);
            }
        }
    }
.border-left article:first-child{
     div{
        border-left: 0.5rem solid  rgba(#85C585, 0.6);
     }
}
.border-left article:last-child{
     div{
       border-left: 0.5rem solid  rgba(#F67D4D, 0.6);
     }
}
.border-left article:nth-child(2){
     div{
          border-left: 0.5rem solid  rgba(#F1CEBC, 0.6);
     }
}

.first-card{
           img:last-child{
            border-radius: 0%;
            margin-bottom: 0%;
            padding-right: 1rem;
           }
        }
}
.arrow-scroll{
    display: none;
}

@media (min-width:991px){
    .recent-played{
        display: none;
    }
   .title-row > img:last-child {
    display: none;
}
    .arrow-scroll{
        display: flex;
        column-gap:1.1rem;
         justify-self: end;
        button{
              @include m.btn-reset;
              cursor: pointer;   
        }
    }
}
