@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "sass:map";

#home{
    background-color:#111111;
    padding-bottom: 5rem;
   
}
.home-nav  li:hover{
        color: #000000;
    }

.home-nav{
    margin-top: 2.5rem;
    font-weight: 400;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(1,auto);
    div{
        
        label{
            @include m.btn-reset;
            position: relative;
            padding-left: 2rem;
            cursor: pointer;
            img{
                position: relative;
                bottom: 0.4rem;
            }
            
        }
    }
    ul{
        display: flex;
        flex-direction: row;
        gap: 1rem;
         margin-left: 1rem;
         li:first-child{
             width: 6.3rem;
        }
         li{
             background-color: #202020;
             border-radius: 0.8rem;
             height:  3.3rem;
             width: 8rem;
             @include m.flex-center;
             button{
                  @include m.btn-reset;
                  color:#E0E0E0;
                  font-size: 1.2rem;

                 
             }
            
         }
    }
}

.recent-played{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(3,auto);
    justify-content: center;
    row-gap: 0.8rem;
    column-gap: 0.5rem;
     margin-top: 1rem;
    article{
         width:15rem;
         height: 3.9rem;
        @include m.recent-played;
        img{
            padding-left: 0.5rem;
            padding-top:0.5rem ;
            padding-bottom: 0.4rem;
        }
        h2{
             padding-top:0.5rem ;
             padding-left: 0.8rem;
        }
        p{
            padding-top:0.1rem ;
             padding-left: 0.8rem;
        }
        
    }
    
}
.recent-played article
{
    &:nth-child(3),&:nth-child(6){
         .recent-played__info{
              display: flex;
               align-items: center;
                    h2{
                    padding-top: 0%;
                    }
           }
    }
 }
.icon-toggle__input {
    display: none;
}

// @media (max-width: 380px) and (max-width: 422px)
// {
//    .recent-played{
//     justify-content: center;
    
//     article{
//          width: 17rem;
//          @include m.recent-played;
//         img{
//             padding-left: 0.8rem;
//             padding-top:0.8rem ;
//             padding-bottom: 0.8rem;
//         }

        
//     }
    
// }
// }
 .scroll-album-card{
         display: flex;
         column-gap: 1rem;
         @include m.horizontal-scroll;
         
            //   .album-card-subtitle{
            //     display: grid;
            //     grid-template-columns: repeat(2,auto);
                h3{
                    font-weight:500 ;
                    color: #E0E0E0;
                    font-size: map.get(v.$font-sizes, " body");
                }           
                p:last-child {
                    font-weight:400;
                     color:#898989;
                     font-size: map.get(v.$font-sizes, " body-sm");
                }

              }
             
    

// .scroll-album-card article:nth-childe(1){
    //  (1){
    //                p:nth-child(2){
    //                      color: red;
    //             }     
    //           }
.made-for-you{
    @include m.album-cards;  
    @include m.grid-subtitle;
}
.your-top-mixes{
       @include m.album-cards;
        @include m.grid-subtitle;
}


.your-favorite-artists{
    span{
          margin-top: 2.5rem;
          
    }
     @include m.album-cards;
     img{
        border-radius: 50%;
     }
    .album-card-subtitle{
       margin-top: 1.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.albums-for-you{
     @include m.album-cards;
     @include m.grid-subtitle;
    
}


.audiobooks-for-you{
    span{
      margin-top: 2rem;
    }
     @include m.album-cards;
     .album-card-subtitle{
        display: flex;
        flex-direction: column;
        row-gap: 0.8rem;
     }
    }
    
.podcasts-for-you, .episodes-for-you{
      @include m.album-cards;
     @include m.grid-subtitle;
      span{
      margin-top: 2rem;
    }
     @include m.album-cards;
     .album-card-subtitle{
        display: flex;
        flex-direction: column;
        row-gap: 0.8rem;
     }
}
