@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "sass:map";

.search{
    display: none;
      &.active {
        display: block;
        z-index: 10;
    }
   h2{
     color:v.$footer-text-active;
     font-size: 2rem;
     font-weight:map.get(v.$font-weights,"bold") ;
   } 
   h3{
         color: v.$footer-text-active;
          font-size: 1.8rem;
           font-weight: map.get(v.$font-weights, "medium");
   } 
   h4{
    color: v.$cover-text;
    font-size: 2rem;
    font-weight: map.get(v.$font-weights, "black");
   }
}
.playlist-card{
    border-radius:1rem;
    background-color: aquamarine;
    overflow: hidden;
    position: relative;
    width: clamp(
        15rem, 
        calc(15rem + (17 - 15) * ((100vw - 32rem) / (39 - 32))), 
        17rem
    );
    height: clamp(
        10rem, 
        calc(10rem + (17 - 10) * ((100vw - 39rem) / (175.4 - 39))), 
        17rem
    );
    h4{
         width:10rem;
         z-index: 3;
    }
    img{
      position: absolute;
      transform: rotate(30deg);
      object-fit: cover;   
    }
}
.search-cards{
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: center;
    column-gap: 2rem;
    row-gap: 1.2rem;
}