@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "sass:map";

body {
    background-color: v.$bg-primary;
    width: 100%;
    overflow-x:hidden ;
}

.html {
    overflow-x:hidden ;
}

main {
    width: 100%;
    min-height: 100vh;
    background-color: v.$bg-primary;
    @media (max-width: 390px) {
        &:has(#tab-1:checked) {
            background-color: v.$bg-primary;
        }
        &:has(#tab-2:checked) {
            background-color: v.$bg-primary;
        }
        &:has(#tab-3:checked) {
            background-color: v.$bg-primary;
        }
        &:has(#tab-4:checked) {
            background-color: v.$bg-primary;
        }
        &:has(#tab-5:checked) {
            background-color: v.$bg-primary; 
        }
    }
}

section {
    width: 100vw;
    // height: 100%;
}

main input[type="radio"] {
    display: none;
}

main section {
    animation: fadeIn 0.5s ease;
    scroll-behavior: smooth;
}

#tab-1:checked ~ #home,
#tab-2:checked ~ #discover,
#tab-3:checked ~ #search,
#tab-4:checked ~ #library,
#tab-5:checked ~ #profile {
    @include m.flex-center($direction: column);
}
