@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "sass:map";

main {
    width: 100%;
    min-height: 100vh;
    background-color: v.$bg-primary;
}

section {
    width: 100%;
    height: 100%;
}

main input[type="radio"] {
    display: none;
}

main section {
    display: none;
    animation: fadeIn 0.5s ease;
}

#tab-1:checked ~ #home,
#tab-2:checked ~ #discover,
#tab-3:checked ~ #search,
#tab-4:checked ~ #library,
#tab-5:checked ~ #profile {
    display: flex;
    flex-direction: column;
}
