@use "sass:map";
@use "./variables" as v;

@mixin flex-center(
    $direction: column,
    $justify: center,
    $align: center,
    $text: center
) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    text-align: $text;
}

@mixin flex-centerr{
      display: flex;
      justify-content: center;
      align-items: center;
}

@mixin btn-reset
{
     background: none;     
     border: none;         
     padding: 0;              
     outline: none; 
}
@mixin recent-played{
       display: flex;
       flex-direction: row;
       border-radius: 1rem;
       background-color:#202020;
       font-weight: 400;
      
       h2{
           font-size:map.get(v.$font-weights, "body-sm");
           font-weight: 300; 
           color:  #E0E0E0;
           white-space: nowrap;
           text-overflow: ellipsis;
           overflow: hidden;
       }
       p{ 
          font-size:map.get(v.$font-weights, "body");
          color: #898989;
        
       }
       .recent-played__info{
        min-width: 0; 
       }
}
@mixin bottom-sheet($height: 80vh) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $height;
    background-color: #282828;
    z-index: 100;
    border-top-left-radius: 1.5rem; // Spotify-ს მენიუს კუთხეები მომრგვალებულია
    border-top-right-radius: 1.5rem;
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    transform: translateY(100%);
}
@mixin horizontal-scroll{
       -webkit-overflow-scrolling: touch; 
       overflow-x: auto; 
        &::-webkit-scrollbar {
         display: none; 
        }
}